@import '_variables.scss';

footer{
    
    padding: 0 5vw 0 5vw;
    width: 100%;
    background-color: $footer-background-color;
    img{
        width: 50%;
        margin: 45vh 0 4vh 7vw;
       
    }
   
   
    div{

        color:$Neutral-color-body;
        font-family: $font-body;
        display:flex;
        align-items: flex-start;
        margin: 3vh 0 3vh 0;
        word-spacing: 8px;

        p{
            padding: 0 0 0 9vw;
        }
    
        img{
            width: 4%;
            margin: 0 0 0 3vh;
           
        }
    }
.text-body{
    font-size:14px;
 }
.small-text{
    font-size:13px;
    align-items: center;
}
nav{
    margin: 12vh 0 0vh 0;
    ul{
        li{
            font-size:14px;
            font-family: $font-body;
            list-style: none;
            color:$Neutral-color-body;
            margin: 3vh 0 0vh 0;
            a{
                text-decoration:none;
                color:$Neutral-color-body;
            }

        }
    }
   ;
}
  
}


    




