@import 'variables';
.stay-productive-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    font-family: Raleway;
    color: $Neutral-color-body;
    font-size: $fontsize-body;
    img {
        position: relative;
        width: 100%;
        margin: 10em 0 5em 0;
    }
    p {
        margin: 1em 0;
        font-size: $fontsize-body;
    }
}