$font-body:'Open Sans',
sans-serif;
$font-header:'Raleway',
sans-serif;
$fontsize-body: 14px;
$main-background-color:hsl(218, 28%, 13%);
$footer-background-color:hsl(216, 53%, 9%);
$intro-email-back-color:hsl(217, 28%, 15%);
$testimonial-sback-color:hsl(219, 30%, 18%);
$Cyan-call-to-action-color: hsl(176, 68%, 64%);
$Blue-call-to-action-color: hsl(198, 60%, 50%);
$Red-error-color: hsl(0, 100%, 63%);
$Neutral-color-body:hsl(0, 0%, 100%);





* {
@import 'variables';
@import 'stay-productive';
@import 'section1-articles';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    main-background-color;

html,
body {
    height: 100%;
    width: 100%;
}

.cotainer-principal {
    padding: 0 5vh 0 5vw;
}